

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
                    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
                    crossorigin="anonymous">

                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
</head>

<body>
	<div id="booking" class="section">
      <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#booking">Home</a>
          <a class="navbar-brand" href="#about">About</a>
          <a class="navbar-brand" href="#contact">Contact</a>
      <!-- <nav class="navbar">
          <a href="#booking">Home</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a> -->
      </nav> 
		<div class="section-center" >
			<div class="container">
                    <div class="top" style="color: #000;">
                        <h1>SAFlight</h1><i class="fa fa-plane" style="font-size:60px;color:rgb(87, 152, 196);text-shadow:2px 2px 4px #000000;"></i>
                        <h3 style="color: #000;">Smart booking. Made simple.</h3>
                    </div>
                    
				<div class="row">
					<div class="booking-form">
						<form>
							<div class="form-group">
								<div class="form-checkbox" id="trip">
									<label for="roundtrip">
										<input type="radio" id="roundtrip"value="roundtrip" name="flight-type" (change)="tripChangeHandler($event)">
										<span></span>Roundtrip
									</label>
									<label for="one-way">
										<input type="radio" id="one-way" value="one-way" name="flight-type" (change)="tripChangeHandler($event)">
										<span></span>One way
									</label>
									<label for="multi-city">
										<input type="radio" id="multi-city" value="multi-city" name="flight-type" (change)="tripChangeHandler($event)">
										<span></span>Multi-City
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
                    <span class="form-label">Flying from</span>
                    
                        <select class="form-control" (change)="fromChangeHandler($event)">
                          <option></option>
                          <option value="Johannesburg">Johannesburg</option>
                          <option value="Durban">Durban</option>
                          <option value="Cape town">Cape town</option>
                          <option value="PortElizaberth">PortElizaberth</option>
                      </select>
										

									</div>
                </div>
                
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Flying to</span>
                                        <select class="form-control" (change)="toChangeHandler($event)">
                                                <option></option>
                                                <option value="Johannesburg">Johannesburg</option>
                                                <option value="Durban">Durban</option>
                                                <option value="Cape town">Cape town</option>
                                                <option value="PortElizaberth">PortElizaberth</option>
                                            </select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Departing</span>
										<input class="form-control" type="date" required (change)="departChangeHandler($event)">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Returning</span>
										<input class="form-control" type="date" required (change)="returnChangeHandler($event)">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label" >Tickets </span>
										<select class="form-control" (change)="adultChangeHandler($event)">
                      <option></option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<!-- <div class="col-md-2">
									<div class="form-group">
										<span class="form-label">Children (0-17)</span>
										<select class="form-control" (change)="childChangeHandler($event)">
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div> -->
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Travel class</span>
										<select class="form-control" (change)="classChangeHandler($event)" >
                      <option></option>
											<option value="Economy class">Economy class</option>
											<option value="Business class">Business class</option>
											<option value="First class">First class</option>
                    </select>
                    
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-btn">
                    
                    <!-- <button class="submit-btn" routerLink="/payment">Book Flight</button> -->
                    <!-- booked tickets -->
          
          <button class="open-button" (click)="openForm()">Confirm your selection</button>
          
          <div class="form-popup" id="myForm">
            <form action="/payment" class="form-container">
              <h1>Confirm your info to Book your ticket(s)</h1>
              <p>Trip type:{{trip}}</p>
                <p>From:  {{from}} </p>
                <p>To:  {{to}}</p>
                <p>Departing date:{{depart}}</p>
                <p>Returning date:{{return}}</p>
                <p>Travel class: {{class}}</p>
                <p>Number of tickets: {{adults}}</p><br>
                <p>Price per ticket: R{{flightAmount}}</p>
                <p>Total price: R{{total}}</p>
          
              <button type="submit" class="btn" routerLink="/payment">Book</button>
              <button type="button" class="btn cancel" (click)="closeForm()">Edit</button>
            </form>
          </div>
                    

									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
    
    <div class="background2" id="about">
          <div class='container'>
                <h1>About SAFlights</h1>
                <br>
            <div class="row">
                
            <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="services-box leftReveal" data-sr-id="13">
                                
                                
                                <h3 class="service-name">1. Who are we</h3>
                                <p class="text-small">
                                        SAFlights.co.za is your go-to site for flight bookings from South Africa.<br>
                                        We’re a team of passionate, savvy travellers on a mission to make it easy for you to find the cheapest domestic and international flights.<br>
                                        As one of the world’s largest flight comparison websites, SAFlights is the starting point for your travel planning.
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="services-box leftReveal" data-sr-id="13">
                                
                                
                                <h3 class="service-name">2. How do we do it?</h3>
                                <p class="text-small">
                                        Our innovative flight booking, curated deals and inspirational content make it simple to find cheap flights across South Africa.
                                        <br>
                                        We partner with hundreds of airlines and travel providers – all over South Africa  - to bring you the cheapest flights and personalised travel options.
                                        <br>
                                        We then link you directly to the airlines or travel agents to book your flights and open up new travel possibilities to see the whole SA on a budget.
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="services-box leftReveal" data-sr-id="13">
                                
                                
                                <h3 class="service-name">3. Why come to us?</h3>
                                <p class="text-small">
                                        Millions of travellers rely on us for trusted advice and the best selection of cheap flights and travel deals.<br> Our service is completely free - we will not charge you a rand.
                                        <br>
                                        We have been serving up useful tips, destination information and travel inspiration since 1996.
                                        <br>
                                        We know South Africa, we know the world. We combine experience with local knowledge and our global network of partners to create amazing travel moments that matter.
                                </p>
                                
                            </div>
                        </div>
            </div>


            
        </div>
        </div>


<div class="con">
    <h2>Top Destinations</h2>
    <p>Find the best price on flights to our most popular destinations from airports across South Africa. </p>
    <div class="row">
      <div class="col-4">
          <img src="assets/durban.jpg" alt="Los Angeles" >
          <div class="carousel-caption">
            <h3>Durban</h3>
           <h3>Flight from R 1150</h3>
          </div>
      </div>
      <div class="col-4">
          <img src="assets/capetown.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Cape town</h3>
          <h3>Flight from R 1220</h3>>
        </div>
      </div>
      <div class="col-4">
          <img src="assets/johannesburg.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Johannesburg</h3>
          <h3>Flight from R 950</h3>>
        </div>
      </div>
      
    </div>
</div>

<!-- Contact us section -->
<section class="contact pt-100 pb-100" id="contact">
        <div class="container"id="contact">
           <div class="row">
              <div class="col-xl-6 mx-auto text-center">
                 <div class="section-title mb-100">
                    <p>Like travel deals? Get in touch with us</p>
                    <h4>contact us</h4>
                 </div>
              </div>
           </div>
           <div class="row text-center">
             <!-- Contact form -->
                 <div class="col-md-4">
                    <form action="">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input type="text" class="form-control mt-2" placeholder="First Name" required>
                            </div><br>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input type="text" class="form-control mt-2" placeholder="Last Name" required>
                            </div>
                          </div><br>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input type="email" class="form-control mt-2" placeholder="Email Address" required>
                            </div>
                          </div><br>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input type="number" class="form-control mt-2" placeholder="Telephone number" required>
                            </div>
                          </div><br>
                          <div class="col-12">
                            <div class="form-group">
                              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your message" rows="3" required></textarea>
                            </div>
                          </div><br>
                          <div class="col-12">
                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>&nbsp;&nbsp;
                              <label class="form-check-label" for="invalidCheck2">
                                Accept terms and conditions
                              </label>
                            </div>
                          </div>
                          </div>
                          <div class="col-12">
                            <button class="btn btn-light" type="submit">Submit</button>
                          </div>
                        </div>
                      </form>
                 </div>
                 <!-- contact details -->
                 <div class="col-md-4">
                    <div class="single-contact">
                       <i class="fa fa-map-marker"></i>
                       <h5>Address</h5>
                       <p>58 kotze street pretoria</p>
                    </div>
                    <div class="single-contact">
                       <i class="fa fa-phone"></i>
                       <h5>Phone</h5>
                       <a href="tel:0797620822">(+27) 797620822</a>
                    </div>
                    <div class="single-contact">
                       <i class="fa fa-envelope"></i>
                       <h5>Email</h5>
                       <a href="mailto:nkonwanasuccess@gmail.com">nkonwanasuccess@gmail.com</a>
                    </div>
                 </div>
                 
                 
                 <div class="col-md-4">
                  <div class="single-contact">
                      <i class="far fa-calendar-alt"></i>
                     <h5>Working hours</h5>
                     <p>Monday- Friday</p>
                     <p>24 hours</p>
                  </div>
                  <div class="single-contact">
                      <p>Saturday- Sunday</p>
                      <p>24 hours</p>
                  </div>
                  <div class="single-contact">
                      <p>Public hilidays</p>
                      <p>24 hours</p>
                  </div>
               </div>
           </div>
        </div>
        <footer class="footer" >
            <p style="color: cornsilk">Created by: Success Nkonwana</p>
           
          </footer>
      </section>
      
      
         
            
               
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>